.rs-modal-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    .input_link {
        margin: 1rem 2rem;
    }
}

.modal_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.txt_rent {
    flex: 1;
    display: flex;
    margin: 0.5rem;

    .rs-control-label {
        font-size: 0.8rem;
    }
}