.card {
    position: relative;
    margin: 1rem;
    width: 16rem;
    max-height: 32rem;
    overflow: scroll;

    .btn_ops {
        position: absolute;
        top: 0;
        right: 0;
        display: none;
    }

    &:hover img {
        opacity: 0.2;
    }
    
    &:hover .btn_ops {
        display:inline-flex;
        justify-content: space-between;
    }

    table {
        margin: 0;
        width: 100%;
        text-align: left;
        color: #FAFAFA;

        caption {
            background-color: #FAFAFA;
            color: #272A2D;
            margin: 0 0 1rem 0;
            font-weight: bold;
            border-radius: 1rem;
        }

        th {
            color: #FFFFFF;
        }
    }

    .heading {
        display: flex;
        justify-content: space-between;

        .available_date {
            font-size: 0.6rem;
            color: #84C1FF; 
        }
    }
}