.screen {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100vw;
    height: 100vh;

    &.dark {
        background-color: #2c2f33;
    }
}

.theme_toggle {
    margin: 1rem;
    display: flex;
    align-self: flex-end;
    align-items: stretch;

    .rs-btn-toggle {
        background-color: #169de0;
        &:hover {
            background-color: grey;
        }
    }

    .rs-btn-toggle-checked {
        background-color: black;
        &:hover {
            background-color: grey;
        }
    }
}